body{
background-color: red;
text-align: center;
}

button{
    margin: 10px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    cursor: pointer;
    transition: background 0.3s ease;
}

#rock{
    background-image: url(images/rock.png);
}

#paper{
    background-image: url(images/paper.png);
}#scissors{
    background-image: url(images/scissors.png);
}
.options{
    display: flex;
    justify-content: center;
}